<head>
<link href="/styles/stylesheet.css" rel="stylesheet">
</head>

<img  id="image1" src="/images/rocks-bracelet-main.jpg"><!--
--><img  id="image2" src="/images/orange-little-shells.jpg"><!--
--><img  id="image3" src="/images/black-and-white.jpg"><!--
--><div id="transparent"></div><!--
--><img  id="image4" src="/images/green-leaf.jpg"><!--
--><img  id="image5" src="/images/blue-rock.jpg"><!--





 

      




