body {
	font-family: 'Josefin Sans', sans-serif;
}

#left-sidebar {
	background-color:rgba(0,0,0,.8);
	width: 300px;
	height: 100%;
	opacity: .5;
	position: fixed;
}
#left-sidebar h1 {
	color: white;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
ul {
	list-style-type: none;
}
li h2 {
	color: white;
	text-align: left;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 15pt;
	font-weight: 0;
}